body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

#school-logo {
    width: 150px;
    height: 20px;
    display: block;
    margin: 0 auto 10px auto;
}

h1 {
    color: #00796b;
    text-align: center;
}

.description {
    color: #004d40;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 2px solid #00796b;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #004d40;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #b2dfdb;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.delete-task {
    background: #e57373;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button.delete-task:hover {
    background: #d32f2f;
}
